[submodule "gateway-frontend"]
	path = gateway-frontend
	url = https://github.com/SinLess-Games/gateway-frontend.git
[submodule "devblog-service"]
	path = devblog-service
	url = https://github.com/SinLess-Games/devblog-service.git
[submodule "helix-bot-service"]
	path = helix-bot-service
	url = https://github.com/SinLess-Games/helix-bot-service
[submodule "helix-payment-gateway-service"]
	path = helix-payment-gateway-service
	url = https://github.com/SinLess-Games/helix-payment-gateway-service.git
[submodule "helix-api-service"]
	path = helix-api-service
	url = https://github.com/SinLess-Games/helix-api-service
